@model HRMS.DTO.CandidateDTO

@{
    ViewData["Title"] = "Create Candidate";
}

<h1>Create Candidate</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NationalIdNumber"></label>
        <input asp-for="NationalIdNumber" class="form-control" />
        <span asp-validation-for="NationalIdNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ApplicationDate"></label>
        <input asp-for="ApplicationDate" type="date" class="form-control" />
        <span asp-validation-for="ApplicationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExpectedSalary"></label>
        <input asp-for="ExpectedSalary" class="form-control" />
        <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="JobId" class="control-label"></label>
    <select asp-for="JobId" asp-items="@(ViewBag.Jobs as SelectList)" class="form-control">
        <option value="">Select Job</option>
    </select>
    <span asp-validation-for="JobId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to List</a>
